body {
    font-family: 'Paprika', cursive;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 70px;
}

.hald-width {
    width: 50%;
    padding-left: 5%;
}

.hald-width img {
    width: 80%;
}

.hald-width img2 {
    width: 5%;
}

.link-button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

/* .top-banner {
    background-image: url(image/bg5.png);
    background-repeat: no-repeat;
} */
/* 
.dreamBig {
    background-image: url(image/bg4.png);
    background-repeat: no-repeat;
    background-position: right;
} */
.experianceArea {
    background-image: url(image/bg3.png);
    background-repeat: no-repeat;
}

.experience-item {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

#full-stack {
    border-left: 7px solid tomato;
}

#baby-web {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}